.table {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 900px;

}

.box {
    height: 100px;
    width: 100px;
    padding: 10px;
    background: cornflowerblue;
}

.coin {
    height: 100%;
    width: 100%;
    border-radius: 45px;
}

.free {
    background: lightgoldenrodyellow;
}

.red {
    background: indianred;
}

.yellow {
    background: yellow;
}

.players {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.player {
    width: 48%;
    display: flex;
    flex-direction: row;
}

.player-name {
    width: 250px;
    height: 25px;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 16px;
}

.player-box {
    height: 40px;
    width: 40px;
    padding: 8px;
}

.player-coin {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
